@font-face {
    font-family: "apple";
    src: url("/assets/font/9651.ttf");
  }

// @import '../../../styles.scss';


h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.breadcrumbs {
    font-family: 'apple';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 1px;
    color: #c9c9c9;
    margin: 20px 0 15px;
}

.breadcrumbs {
    font-family: 'apple';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 1px;
    color: #c9c9c9;
    margin: 20px 0 15px;
}

.breadcrumbs li {
    list-style: none;
    display: inline-block;
}

.breadcrumbs a {
    font-family: 'apple';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    letter-spacing: .875px;
    color: #ef456a;
}

.breadcrumbs span {
    color: #000;
    font-weight: 700;
}

.span {
    margin-left: 1rem;
    margin-right: 1rem;
}

img {
    width: 32%;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

.main {
    display: flex;
    flex-direction: row;
}
  
.mat-radio-inner-circle{
    background-color: #c50d4a !important;
}

.h-product {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

.act-memory {
    background-color: #ef456a;
    border: 2px solid #ef456a;
    color: #fff;
    
}

.memory-wrap__item {
    font-size: 11px;
    padding: 0 7px;
    min-height: 22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #282836;
    color: #282836;
    font-weight: 900;
    text-align: center;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: #fff;
    margin-right: 17px;
    letter-spacing: .8px;
    cursor: pointer;
    transition: .5s;
    
}

.product-info__price {
    margin: 40px 0 20px;
    font-family: 'apple';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 1.5px;
    color: #000;
}

.product-info__name, .product-info__price-total {
    font-family: 'apple';
    font-style: normal;
    line-height: normal;
    color: #000;
}

.product-info__price-total {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .8125px;
    margin-bottom: 15px;
}

.mr-2, .mx-2 {
    margin-right: .5rem!important;
}


.compare-at-price {
    text-decoration: line-through;
    color: #c99!important;
    margin: 0 3px;
}

.product-info__price .uah {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    width: 15rem;
    height: 15%;
    background-color: #3f51b5;
}

d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.product-info__icons .item {
    max-width: 30%;
    width: 18%;
   
    font-size: 13px;
    color: #666;
    margin-bottom: 15px;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

.product-info__icons .item .icon {
    opacity: .8;
    margin-right: 10px;
    flex: 0 0 50px;
    text-align: center;
}

.row {
    width: 100%;
}

.product-info__icons{
    margin-top: 2rem;
}
.center{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.mat-ink-bar {
    background-color: #000000 !important;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    height: 2rem;
    margin-right: 1rem;
}

.active1 {
    background-color: #3f51b5 !important;
    color: white;
}
.black{
    text-align: center;
    color: black;
}



h5 {
    margin-top: 2.5rem;
    text-align: center;
}



.mat-tab-labels {
    display: flex;
    justify-content: center;
}

.text{ 
    // display: flex;
    // flex-flow: column wrap;
    // place-content: space-around space-between;
    // text-align: center;
    text-align: center;
    // transform: none;
    font-size: 14px;
    text-align: center;
    letter-spacing: .875px;
    display: inline-block;
    width: 50%;
    color: rgb(144, 144, 144);
    margin-bottom: 50px;
}



.mat-tab-list {
    flex-grow: 1;
    position: relative;
    transition: transform 500ms cubic-bezier(0.35, 0, 0.25, 1);
    display: flex;
  
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.product-info__description-text {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: .875px;
    display: inline-block;
    width: 50%;
    color: rgb(144, 144, 144);
    margin-bottom: 50px;
}

.img {
    max-width: 100%;
    max-height: 450px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

table.features {
    width: 490px;
    max-width: 100%;
}

table.features tr {
    height: 60px;
    vertical-align: middle!important;
}

table.features td.name {
    min-width: 145px;
    color: #777;
    vertical-align: top;
}

table.features tr td.name {
    min-width: 320px;
}

table.features tr td.value {
    font-weight: 700;
}

table.features td {
    padding: 5px 0 2px;
    border: none;
}

.width {
    width: 50%;
}

.review-form-fields p {
    margin: 0 0 10px;
}

.review-field {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
   
}

p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 400;
}

label {
    width: 160px;
    display: block;
    float: left;
    margin: 0 5px 0 0;
    color: #aaa;
}

input[type=text] {
    box-shadow: inset 0 1px 4px #aaa;
    border: 1px solid #d6d6d6;
    padding-left: 7px;
    border-radius: 5px;
    font-size: 16px!important;
    width: 50%;
    max-width: 100%;
    height: 36px;
    line-height: 1;
    padding: 0 10px;
}

button, input {
    overflow: visible;
}

textarea {
    box-shadow: inset 0 1px 4px #aaa;
    border: 1px solid #d6d6d6;
    padding-left: 7px;
    border-radius: 5px;
    font-size: 16px!important;
    width: 50%;
    max-width: 100%;
    height: 70px;
    line-height: 1;
    padding: 10px;
    min-width: initial;
}

.date {
    overflow:  hidden;
}

.review__bg {
    transition: .3s;
    background: #f1f1f1;
    padding: 15px;
    border-radius: 18px;
    max-width: 700px;
    width: auto;
}

.review .summary {
    font-size: .9em;
    color: #777;
}

.review p {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.3em;
}

.date {
    color: #aaa;
}

.username {
    color: #777
}

.btn-memory{
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}

@media all and (max-width: 994px) {
    img {
        width: 45%;
    }
    
    
}

@media all and (max-width: 757px) {
    h1 {
        font-size: 1.8rem;
    }
    .main {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 96%;
    }

    form {
        display: flex;
        justify-content: center;
    }
    .h-product {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        margin-bottom: 10px;
        text-align: center;
    }

    .buy {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .btn-memory {
        display: flex;
        justify-content: space-evenly;
        margin-right: 0px;
    }

    button {
        margin-right: 0px !important;
    }

    .btn{
        width: 20%;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        height: 2rem;
        
    }

    .example-button-row  {
        // display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .product-info__price {
        text-align: center;
        margin: 40px 0 20px;
        font-family: "apple";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-size: 24px;
        letter-spacing: 1.5px;
        color: #000;
    }

    .review__bg {
        transition: 0.3s;
        background: #f1f1f1;
        padding: 15px;
        border-radius: 18px;
        max-width: 100%;
        width: auto;
    }

    
}

@media all and (max-width: 533px) {
    .breadcrumbs {
        font-family: "apple";
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        font-size: 12px;
        letter-spacing: 1px;
        color: #c9c9c9;
        margin: 20px 0 15px;
    }
    #product-features {
     width: 10%; 
     max-width: 10%; 

    }
    .nav {
        display: inline-block
    }

    td {
        min-width: 150px !important;
    }


    .newSpan {
        margin-left: 1rem;
        margin-right: 0rem !important;
    }

    input {
        box-shadow: inset 0 1px 4px #aaa;
        border: 1px solid #d6d6d6;
        padding-left: 7px;
        border-radius: 5px;
        font-size: 16px !important;
        width: 10%;
        max-width: 100%;
        height: 36px;
        line-height: 1;
     
        padding: 0 10px;
    }
    .review__bg {
        transition: 0.3s;
        background: #f1f1f1;
        padding: 15px;
        border-radius: 18px;
        max-width: 100%;
        width: auto;
    }
}
   
@media all and (max-width:656px) {
   
}

@media all and (max-width: 400px) {
  

}


@media all and (max-width: 357px)  {
 
    span {
        margin-left: 0rem;
        margin-right: 0rem; 
    }
   

    .apple-mobile {
        display: block;
        position: absolute;
        top: 0px;
        left: 44%;
    }

    .mat-tab-body {
        top: 0px;
        left: 26px;
        right: 0;
        bottom: 0;
        position: absolute;
        display: block;
        overflow: hidden;
        flex-basis: 100%;
    }
  
    td {
        min-width: 100px;
    
    }
}

@media all and (max-width: 357px)  {
    td {
        min-width: 150px !important;
    
    }
    .span {
         margin-left: 0rem !important; 
        margin-right: 0.4rem !important;
    }
}


td {
    min-width: 145px;
 
    vertical-align: inherit !important;
}

