<form (ngSubmit)="addGallery(formGallery.value)" [formGroup]="formGallery"  class="example-form">
        <mat-form-field class="example-full-width">
           <mat-label>name</mat-label>
           <input formControlName='name'  matInput  name="name"  >
       </mat-form-field>

    <label for="file-gallery" class="custom-file-upload"> Виберіть Картинку </label>
       <input formControlName='img'  (change)="uploadFile($event)"  id="file-gallery" type="file"/>
     <br>
     <br>
     <mat-progress-bar #id  mode="determinate" [value]="(uploadProgress|async)"></mat-progress-bar>
      <br>
       <button [disabled]='isdisabled || formGallery.invalid ' type="submit" class="margin" mat-raised-button [color]="isText? 'accent': 'primary' " [textContent]="isText? 'Save' : 'Add'"></button>
</form>

   <table class="table block">
    <thead>
        <th>#</th>
        <th>Img</th>
        <th>name</th>
        <th>Edit</th>
        <th>Delete</th>
       
    </thead>
    <tbody>
        <tr  *ngFor="let item of arrGallery    let i=index" >
          <td>{{i+1}}</td>
          <td> 
            <img style=" height: 50px;" [src]="item.img" alt=""> 
          </td>
          <td>{{item.name}}</td>
        <td>
            <button class="res" (click)="editGallery(item)"  mat-raised-button  color="accent">Edit</button>
          </td>
          <td>
            <button   (click)="deleteGallery(item)" mat-raised-button color="warn">Delete</button>
          </td>
        </tr>
    </tbody>
  </table> 