/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~swiper/swiper-bundle';

@import './app/admin/admin-products/admin-products.component';

@import 'assets/styles/global.scss';



::-webkit-scrollbar {
    width: 7px;
    max-height: 60px;
}

::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
  }


  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow : 0 
  }

  .mat-ink-bar {
    background-color: #000000 !important;
}
  


.mat-tab-body-content {
  height: 100%;
  overflow: auto;
  overflow-x: inherit !important;
}

.mat-tab-label-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
  justify-content: space-evenly !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  flex-direction: column !important;
}

mat-card[_ngcontent-ucb-c188]:not([class*=mat-elevation-z]) {
  box-shadow: 0px 0px 1px -1px;
}

@media all and (max-width: 827px) {
  .p-slider {
    width: 90% !important;
    height: 0.286rem;
    margin-bottom: 2rem;
}
}

.mat-tab-body-content {
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

